# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\My Drive\UT Austin\Classes\EE360C\Programming Assignments\ProgrammingAssignment2\GreedyAlgorithms\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
